.container {
    .home_wrapper {
        margin-bottom: 150px;
        padding: 40px;
        box-shadow: 0 0 8px gray;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        .my_image {
            max-width: 300px;
            cursor: pointer;
            margin-bottom: 50px;
            img {
                width: 100%;
                height: auto;
                border-radius: 5px;
            }
        }
        .my_personal {
            font-family: "Montserrat_Regular";
            .title {
                font-weight: bolder;
                font-size: 28px;
                line-height: 34px;
                color: white;
                text-transform: uppercase;
                margin-bottom: 25px;
            }
            p {
                font-weight: 400;
                letter-spacing: 0;
                font-size: 16px;
                line-height: 26px;
                color: white;
            }
            .parg1 {
                margin-bottom: 40px;
            }
            .parg2 {
                margin-bottom: 40px;
            }
        }
    }
}

@media(min-width: 720px) {
    .container {
        .home_wrapper {
            .my_image {
                width: 300px;
                height: auto;
                margin-right: auto;
            }
            .my_personal {
                max-width: 450px;
                .title {}
                p {}
            }
        }
    }
}

@media(min-width: 1000px) {
    .container {
        .home_wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 6%;
        }
    }
}