footer {
    background-color: #00ADEE;
    color: black;
    .container {
        h3 {
            margin: 0;
            padding-top: 40px;
            padding-bottom: 15px;
            font-size: 30px;
            font-family: "Lato_bold";
            font-weight: 700;
        }
        p {
            margin: 0;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            font-family: "Lato";
        }
        h4 {
            font-family: "Lato_bold";
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #000000;
            margin: 0;
            padding-top: 25px;
            padding-bottom: 15px;
        }
        .header_navigation {
            svg {
                display: none;
            }
        }
    }
    .last_footer_items {
        text-align: center;
        font-family: "Lato";
        font-size: 20px;
        color: rgb(106, 106, 106);
        padding-top: 40px;
    }
}

@media(min-width: 720px) {
    footer {
        .container {
            .footer_moreInfo {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: baseline;
                li {
                    font-family: "Lato";
                    font-size: 20px;
                    color: white;
                }
                a  {
                    font-family: "Lato";
                    font-size: 20px;
                    color: white;



                }
            }
        }
    }
}