footer {
    background-color: #1a1a1a;
    color: #ffffff;
    a {
        font-family: "Lato";
        color: #ffffff;
        cursor: pointer;
    }
    .container {
        h3 {
            margin: 0;
            padding-top: 40px;
            padding-bottom: 15px;
            font-size: 30px;
            font-family: "Lato_bold";
            font-weight: 700;
        }
        p {
            margin: 0;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            font-family: "Lato";
        }
        h4 {
            font-family: "Lato_bold";
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            margin: 0;
            padding-top: 25px;
            padding-bottom: 15px;
        }
        .footer_moreInfo {
            .footer_navigation {
                .header_navigation {
                    ul {
                        li {
                            a {
                                font-family: "Lato";
                                color: #ffffff;
                                cursor: pointer;
                            }
                            svg {
                                display: none;
                            }

                        }
                    }
                }
            }
        }
    }
    .last_footer_items {
        text-align: center;
        font-family: "Lato";
        font-size: 20px;
        padding-top: 40px;
    }
}

@media(min-width: 720px) {
    footer {
        .container {
            .footer_moreInfo {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: baseline;
                li {
                    font-family: "Lato";
                    font-size: 20px;
                }
                a  {
                    font-family: "Lato";
                    font-size: 20px;
                }
            }
        }
    }
}