body {
    background-color: #141414;
    background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEyMCc+Cgk8ZGVmcz4KCQk8cGF0dGVybiBwYXR0ZXJuVW5pdHM9J3VzZXJTcGFjZU9uVXNlJyBpZD0nYycgd2lkdGg9JzYwJyBoZWlnaHQ9JzEyMCcgeD0nMCcgeT0nMCcgdmlld0JveD0nMCAwIDUgMTAnPgoJCQk8cGF0aCBmaWxsLW9wYWNpdHk9JzAnIHN0cm9rZT0nIzI5MjkyOScgc3Ryb2tlLXdpZHRoPScwLjA5JyBkPSdNLTIsMUw3LDEwTS0yLDZMNywxNU0tMiwtNEw3LDUnLz4KCQk8L3BhdHRlcm4+CgkJPHBhdHRlcm4gcGF0dGVyblVuaXRzPSd1c2VyU3BhY2VPblVzZScgaWQ9J2MyJyB3aWR0aD0nNjAnIGhlaWdodD0nMTIwJyB4PScxMDAlJyB5PScwJyB2aWV3Qm94PScwIDAgNSAxMCc+CgkJCTxwYXRoIGZpbGwtb3BhY2l0eT0nMCcgc3Ryb2tlPScjMjkyOTI5JyBzdHJva2Utd2lkdGg9JzAuMDknIGQ9J003LDFMLTIsMTBNNyw2TC0yLDE1TTcsLTRMLTIsNScvPgoJCTwvcGF0dGVybj4KCTwvZGVmcz4KCTxyZWN0IHdpZHRoPSc1MCUnIGhlaWdodD0nMTAwJScgZmlsbD0ndXJsKCNjKScvPgoJPHJlY3QgeD0nNTAlJyB3aWR0aD0nNTAlJyBoZWlnaHQ9JzEwMCUnIGZpbGw9J3VybCgjYzIpJy8+Cjwvc3ZnPg==');
    margin:0; 
    padding:0;
    overflow-x:hidden;
    height:100%;
    font-family: 'Lato', Helvetica, arial, sans-serif;
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
      }
    }
    a {
      text-decoration: none;
    }
    .header_container {
      position: relative;
      background-color: #32067c;
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
      position: relative;
      padding: 10px;
      h1 {
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        a {
          text-decoration: none;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 30px;
          font-weight: 600;
          color: white;
        }
      }
      input {
        position: absolute;
        top: 32px;
        right: 8px;
        width: 20px;
        height: 20px;
        opacity: 0;
      }
      .header_navigation {
        position: absolute;
        top: 0;
        left: -100%;
      }
      input:checked~nav {
        position: absolute;
        top: 98px;
        left: 40%;
        background-color: white;
        width: 60%;
        height: 315%;
        ul {
          li {
            text-align: left;
            padding-left: 30px;
            padding-top: 40px;
            svg {
              padding-left: 20px;
              padding-top: 4px;
            }
            a {
              color: black;
              font-size: 20px;
            }
            a:hover {
              color: blue;
              font-size: 24px;
            }
          }
        }
      }
    }
}
  
